BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align
AlignOperands: true

AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeAssignmentOperators: true

AlwaysBreakTemplateDeclarations: MultiLine
BinPackArguments: false
BinPackParameters: false

PointerAlignment: Left
SortIncludes: false

Cpp11BracedListStyle: false

InsertNewlineAtEOF: True
